<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/b24/application/third_party/domain-parser/layershifter/tld-database/tests" />
        <option value="$PROJECT_DIR$/b24/application/third_party/domain-parser/true/punycode/tests" />
        <option value="$PROJECT_DIR$/b24/v2/application/third_party/domain-parser/layershifter/tld-extract/tests" />
        <option value="$PROJECT_DIR$/b24/tests" />
        <option value="$PROJECT_DIR$/b24/v2/tests" />
        <option value="$PROJECT_DIR$/b24/v2/application/third_party/domain-parser/true/punycode/tests" />
        <option value="$PROJECT_DIR$/b24/application/third_party/domain-parser/layershifter/tld-extract/tests" />
        <option value="$PROJECT_DIR$/b24/v2/application/third_party/domain-parser/layershifter/tld-database/tests" />
        <option value="$PROJECT_DIR$/b24/application/third_party/domain-parser/layershifter/tld-support/tests" />
        <option value="$PROJECT_DIR$/b24/v2/application/third_party/domain-parser/layershifter/tld-support/tests" />
      </list>
    </option>
  </component>
</project>